body {
  margin: 0;
  padding: 0;
}

#header {
  margin: 0;
  background: black;
  height: 100px;
}
#header figure {
  width: 30%;
  margin: 0;
  text-align: center;
  display: inline-block;
  width: 30%;
}
#header figure img {
  height: 100px;
}
#header figure h3 {
  color: white;
  display: inline-block;
  vertical-align: top;
  margin-top: 35px;
  font-weight: lighter;
}
#header form {
  display: inline-block;
  vertical-align: top;
  margin-top: 27px;
  text-align: right;
  width: 60%;
}
#header form input {
  width: 280px;
  height: 30px;
  text-align: center;
}
#header form button {
  width: 80px;
  height: 38px;
  background-color: red;
  border-color: red;
  color: white;
}

/* sidebar */
#sidebar {
  display: inline-block;
  background-color: silver;
  width: 290px;
  height: 500px;
  vertical-align: top;
}
#sidebar #side-header {
  text-align: center;
}
#sidebar #side-header h2 {
  font-family: times New Roman;
  letter-spacing: 2px;
  margin: 0;
}
#sidebar #side-header h2 i {
  margin-left: 10px;
}
#sidebar #side-header hr {
  margin-top: 0;
}
#sidebar img {
  width: 110px;
}
#sidebar .shows {
  display: inline-block;
}
#sidebar .shows h4 {
  color: red;
}
#sidebar .shows p {
  font-family: cambria;
}

/* Main */
#main {
  display: inline-block;
  float: right;
  max-width: 70%;
  min-width: 50%;
}
#main #img-main {
  justify-content: right;
  margin: 0;
  z-index: 1;
}
#main #img-main img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
#main #info-main {
  z-index: 2;
  position: relative;
  margin: 0 39% 0;
  text-align: center;
}
#main #info-main h2 {
  font-family: georgia;
  margin-top: -20px;
  background-color: red;
  width: 140px;
  padding: 10px 0;
  color: white;
}
#main #info-main p {
  text-transform: uppercase;
}

/* Footer */
#footer {
  background-color: black;
  color: white;
  text-align: center;
  bottom: 0;
  position: inherit;
  width: 100%;
}
#footer div {
  display: flex;
  justify-content: space-evenly;
}
#footer div a {
  color: white;
  text-decoration: none;
  align-self: center;
}

@media screen and (max-width: 768px) {
  /* header */
  #header form input {
    width: 200px;
  }
  #header form button {
    width: 30px;
    border-radius: 15px;
  }
  #header form button strong {
    display: none;
  }

  /* sidebar */
  #sidebar {
    width: 150px;
  }
  #sidebar #side-header h2 {
    font-size: 18px;
  }
  #sidebar .options {
    text-align: center;
  }
  #sidebar .options .shows {
    display: block;
  }
  #sidebar .options .shows h4 {
    margin-top: 0;
  }
  #sidebar .options .shows p {
    display: none;
  }
  #sidebar .options img {
    margin-top: 10px;
    width: 90px;
  }

  /* main */
  #main {
    width: 100%;
  }
  #main #img-main img {
    width: 100%;
  }
  #main #info-main h2 {
    padding: 0;
    opacity: 80%;
    border-radius: 20px;
  }
  #main #info-main p {
    font-size: smaller;
    border: 2px dotted blue;
    border-radius: 5px;
  }
}
@media screen and (max-width: 499px) {
  #header figure h3 {
    display: none;
  }
  #header form {
    width: 68%;
  }

  #sidebar {
    display: inline;
    background-color: goldenrod;
  }
  #sidebar #side-header {
    background-color: goldenrod;
  }
  #sidebar #side-header hr {
    display: none;
  }
  #sidebar .options {
    height: 40px;
  }
  #sidebar .options img {
    display: none;
  }
  #sidebar .options .shows {
    background-color: skyblue;
    border: 1px solid rgba(0, 0, 255, 0.568);
    border-radius: 15px;
  }
  #sidebar .options .shows h4 {
    margin-top: 10px;
    color: orangered;
  }

  #main {
    display: block;
    float: none;
    max-width: 100%;
  }

  #footer {
    z-index: 3;
  }
  #footer a {
    font-size: 14px;
  }
}
@media screen and (max-width: 350px) {
  #header form input {
    width: 150px;
  }

  #footer a {
    font-size: 12px;
  }
}
@media screen and (min-width: 770px) and (max-width: 968px) {
  #main {
    width: 62%;
  }
  #main #img-main img {
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
}

/*# sourceMappingURL=index.css.map */
